* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Media Queries para dispositivos móveis */
@media screen and (max-width: 768px) {

    header {
        padding: 5% 5%;
    }

    .menu {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        
    }

    .apresentacao {
        flex-direction: column-reverse;
        align-items: center;
    }

    img {
        margin: 15%;
    }

    .apresentacao__conteudo {
        width: 100%;
        text-align: center;
    }

    .minhasFotos {
        flex-direction: row;
        justify-content: center;
    }

    .minhasFotos__Imagem {
        width: 250px;
    }

    h1 {
        font-size: 30px;
    }

    p {
        font-size: 18px;
    }

    .rodape {
        padding: 5px;
    }
    
}

/* Media Queries para tablet */
@media screen and (max-width: 1024px) {
    .menu {
        gap: 40px;
    }

    .apresentacao {
        padding: 5% 10%;
    }

    .apresentacao__conteudo {
        width: 90%;
    }

    .minhasFotos__Imagem {
        width: 280px;
    }

    h1 {
        font-size: 32px;
    }

    p {
        font-size: 20px;
    }

}

/* Media Queries para telas grandes (notebooks e desktops) */
@media screen and (min-width: 1400px) {
    .apresentacao__conteudo {
        width: 700px;
    }

    .minhasFotos__Imagem {
        width: 320px;
    }

    h1 {
        font-size: 40px;
    }

    p {
        font-size: 26px;
    }
    
}