/* Responsividade */
@media (max-width: 1024px) {
    .apresentacao {
        flex-direction: column;
        text-align: center;
    }
    
    .menu {
        justify-content: center;
    }
}

@media (max-width: 768px) {
    header {
        padding: 5% 5%;
    }

    .menu {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .apresentacao {
        flex-direction: column-reverse;
    }
    
}

@media (max-width: 1000px) {
    .apresentacao {
        flex-direction: column-reverse;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.75rem;
    }
    
    p {
        font-size: 1.25rem;
    }

    .apresentacao {
        flex-direction: column-reverse;
    }
    
    .apresentacao__links__link {
        font-size: 18px;
        padding: 15px 0px;
    }

    .rodape {
        padding: 5px;
    }
}